[user]
	name = shkwsk
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
	pager = 
[color]
	ui = auto
[alias]
	lg = log --graph --abbrev-commit --date=local --branches --pretty=format:'%C(yellow)%h%Creset -%C(bold blue)%d%Creset %C(red)(%cd)%Creset \n%s\n'
	st = status
	cm = commit
	co = checkout
	br = branch
	ad = add
